.wrapper{
  margin:0;
  padding: 0;
  position: relative;
  
}
.header{
  width: 97%;
  position: fixed;
  border: solid;
  padding: 10px;
}
.header::after{
  content: "";
  display: block;
  clear: both;
}
.header>.logo-menu{
  width: 20%;
  position: relative;
  height: 40px;
  float: left;
}
.logo-menu>img{
  width: 130px;
  position: absolute;
  left:35px;
  top:-18px;
}
.logo-menu>i{
  position: absolute;
  top:10px;
}

.header>.search-bar{
  width: 48%;
  margin-left:10px;
  border: solid;
  height: 40px;
  float: left;
 }
.search-bar>form{
  margin:auto;
  
  display: block;
}
.header>.side-navigation{
  border:solid;
  width: 27%;
  float: right;
  background-color: yellow;
  height: 40px;
}
.showcase{
  position: absolute;
  border:solid;
  left: 22%;
  top:70px;
  padding:10px;
  width: 76%;
}
.showcase>.content-box{
  border:solid;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 100%;
  min-height:100px;
  margin-top:1em;
}

.box{
  border:solid;
  margin-left:1em;
  height: 160px;
}
.ledt-side-navigation{
  border:solid;
  width: 20%;
  position: fixed;
  top:77px;
}

